.wrapper {

}
.nav {

}

.main {
	color: Gray;

}

.main h2 {
	color: white;
	position: fixed;
	top: 30px
	right: 100px;
	font-family: helvetica; 
}

.send {
	color: black;
	font-size: 20px;
}

.receive {
	color: black;
	font-size: 20px;
}

.repeat {
	color: black;
	font-size: 20px
}

	
}